**Q1:** Develop diverse predictive models targeting the selected dataset.

## 1) Data cleaning

In [2]:
import pandas as pd

# Load the CSV file into a DataFrame
df = pd.read_csv('titanic dataset/train.csv')

# Display the first few rows of the DataFrame
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
class_distribution = df['Survived'].value_counts()
print(class_distribution)

Survived
0    549
1    342
Name: count, dtype: int64

In [16]:
df = df[['Age', 'Survived']]
print(df.head())

    Age  Survived
0  22.0         0
1  38.0         1
2  26.0         1
3  35.0         1
4  35.0         0

In [19]:
# Count rows with missing values
missing_values = df.isnull().sum()
print(missing_values)

# Remove rows with missing values
df.dropna(inplace=True)
print(df.head())

Age         0
Survived    0
dtype: int64
    Age  Survived
0  22.0         0
1  38.0         1
2  26.0         1
3  35.0         1
4  35.0         0
Age         0
Survived    0
dtype: int64

In [ ]:
from sklearn.preprocessing import StandardScaler

# Standardize Age
scaler = StandardScaler()
df["Age"] = scaler.fit_transform(df[["Age"]])

Model Accuracy: 0.60

## 2) Model

In [23]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Features (X) and Target (y)
X = df[["Age"]]
y = df["Survived"]

# Train-Test Split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train Logistic Regression Model
model = LogisticRegression()
model.fit(X_train, y_train)

# Predictions & Accuracy
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)

print(f"Model Accuracy: {accuracy:.2f}")

Model Accuracy: 0.60

In [24]:
import joblib
# Save model & scaler
joblib.dump(model, "titanic_model.pkl")
joblib.dump(scaler, "scaler.pkl")

['scaler.pkl']